@import "tailwindcss";
body {
  font-family: 'Poppins', sans-serif;
}


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

html {
  scroll-behavior: smooth;
}

.Toastify__toast {
  z-index: 9999 !important;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}




@layer utilities {
  @keyframes float1 {
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(20px, -30px);
    }
  }

  @keyframes float2 {
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-25px, 25px);
    }
  }

  @keyframes float3 {
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(30px, 15px);
    }
  }

  .animate-float1 {
    animation: float1 6s ease-in-out infinite;
  }
  .animate-float2 {
    animation: float2 8s ease-in-out infinite;
  }
  .animate-float3 {
    animation: float3 10s ease-in-out infinite;
  }
}
.range-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #112444;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.range-thumb {
  pointer-events: none; /* track is not clickable */
}

.range-thumb::-webkit-slider-thumb {
  pointer-events: all; /* thumb is clickable */
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.92) translateY(12px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

